matplotlib==3.5.1
pandas==1.5.3
seaborn==0.11.2
openai==1.13.3
scipy==1.12.0
chromadb-client==0.4.25.dev0
tiktoken==0.6.0
h11>=0.16.0 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability